* { box-sizing: border-box; }

body { font-family: Arial, Helvetica, sans-serif; }

.text-center { text-align: center; }

.center { margin: 0 auto; }

main {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
}

label {
  margin: 0 0 1rem;
  display: block;
  font-size: 1.3rem;
}

input:not([type=checkbox]),
select {
  width: 100%;
  padding: 5px;
  font-size: 1.2rem;
  border: 1px solid #000;
}

button,
.button {
  display: block;
  background: lightgrey;
  padding: 1rem; 
  border: 0; 
  cursor: pointer;
  font-size: 1.2rem;
  min-width: 130px;
  text-align: center;
}
button:hover { background: darkgrey; }

.output {
  display: none;
  width: 100%;
  max-width: 400px;
}

.code {
  display: block;
  margin: 0;
  width: 100%;
}

img { width: 100%; }

footer { padding: 1rem 0 0 }

@media print {
  body * { visibility: hidden; }
  img {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 4cm;
  }
}